@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* 
                                                                      | */
/* INITAL CSS AND ROOT VARIABLES ------------------------------------*/
:root{
  --icon-color: #FF555D;
  --secondary-color: #352740;
  --primary-color: #CF2020;
  --primary-color-darker: #A62706;
  --text-color: #ffffff;

  
  --neu-h1: -1px;
  --neu-v1: -1px;
  --neu-blur1: 4px;

  --neu-h2: 2px;
  --neu-v2: 2px;
  --neu-blur2: 2px;

  --neu-light: rgba(255, 255, 255, 0.1);
  --neu-lighter: rgba(255, 255, 255, 0.3);
  --neu-dark:  rgba(0, 0, 0, .1);
  --neu-darker:  rgba(0, 0, 0, .5);
}

*{
  margin: 0;
  font-size: 1rem;
  font-family: Roboto;
  text-decoration: none;
  color: black;
  font-family: 'Nunito', sans-serif;
}
/* STYLES -----------------------------------------------------------*/
.container{
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.input-primary{
  background-color: rgba(0, 0, 0, .01);
  color: var(--text-color);
  text-align: center;
  margin: 1rem 0px;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: none;
  box-shadow: 
  var(--neu-h2) var(--neu-v2) var(--neu-blur2) var(--neu-dark) inset,
  var(--neu-h1) var(--neu-v1) var(--neu-blur1) var(--neu-light) inset;
}
.input-primary::placeholder{
  color: var(--text-color);
  opacity: 0.6;
}
.input-primary:focus{
  outline: none;
}
.button-primary{
  padding: 0.5rem 1rem;
  margin: 0 0 1rem;
  background: var(--primary-color);
  background-image: linear-gradient(var(--primary-color),var(--primary-color-darker));
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  outline: none;
  color: var(--text-color);
  transition: box-shadow 1ms;
  box-shadow:
  var(--neu-h1) var(--neu-v1) var(--neu-blur1) var(--neu-light),
  var(--neu-h2) var(--neu-v2) var(--neu-blur2) var(--neu-dark);
}

.button-primary:hover{
  box-shadow: none;
}
.button-primary:focus{
  box-shadow: 
  var(--neu-h2) var(--neu-v2) var(--neu-blur2) var(--neu-darker) inset,
  var(--neu-h1) var(--neu-v1) var(--neu-blur1) var(--neu-lighter) inset;
}
/* HOMEPAGE ---------------------------------------------------------*/
#homepage {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:var(--secondary-color);
}
@media(min-width:720px){
  #homepage .container{
    max-width: 30rem;
  }
}
#homepage .logo{
  margin: auto;
  width: 75%;
  height: 75%;
  display: flex;
  flex-direction: column;
}
#homepage .logo img{
  width: 100%;
  height: auto;
}
#homepage .welcome-message{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color);
  margin: 0px 0px 1rem;
}
#homepage .login{
  display: flex;
  flex-direction: column;
}
#homepage .login .new-account{
  display: flex;
  justify-content: center;
  margin: 0px 0px 4rem;
}
#homepage .login .new-account p{
  margin-right: 0.5rem;
  font-size: 0.8rem;
  color: var(--text-color)
}
#homepage .login .new-account a{
  font-size: 0.8rem;
  color: var(--primary-color)
}
#homepage .login .new-account a:hover,#homepage .login .new-account a:focus{
  text-decoration: underline;
}

/* GET COORDINATES PAGE ---------------------------------------------*/
#restaurantCord .permission-message{
  width: 100vw;
  height: 100vh;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#restaurantCord .permission-message p{
  color:white;
  text-align: center;
}
#restaurantCord .permission-message .title{
  font-size: 3rem;
}

#restaurantCord .permission-message .message{
  font-size: 2rem;
}

#confirmButton{
  position: fixed;
  z-index: 10;
  margin-left: -165px ;
  left: 50%;
  bottom: 1rem;
  padding:1.5rem;
  font-size: 1.2rem;
}
.block-everything{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block-everything{
  text-align: center;
}
.block-everything .title{
  color: white;
  font-size: 5rem;
}

.block-everything .sub-title{
  color: white;
  font-size: 2.5rem;
}


/* 
                                                                      | */
/* 404 page ---------------------------------------------------------*/
#page-not-found{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color:var(--secondary-color);
  align-items: center;
  justify-content: center;
}

#page-not-found p{
  color: white
}
#page-not-found .number{
  font-size: 15rem;
}
#page-not-found .message{
  font-size: 2rem;
}